html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}
.container {
  width: 95%;
  /*height: 60vh;*/
  background: #e0dfdb;
  margin: 50px auto 0 auto;
  box-sizing: border-box;
  border-radius: 1  2px;
  box-shadow: 4px, 10px, #3333;
  animation: bg-color-change, infinite, 10s;
}

@media screen and (min-width: 765px) {
  .container {
    width: 80%;
    height: 60vh;
  }

  .bread_field, .size_field, .quantity_field {
    width: 70%;
    text-align: center;
  }

  .bread_field input,
  .size_field input,
  .quantity_field input {
    width: 100%;
    height: 32px;
    text-align: center;
    margin: 12px 0;
  }
}

/* Background color animation for the .container element */

@keyframes bg-color-change {
  0% {
    background: #e0dfdb;
  }
  10% {
    background: #c2c2f5;
  }
  50% {
    background: #7777d8;
  }
  65% {
    background: #454561;
  }
  100% {
    background: #242429;
  }
}

.bread_type {
  text-align: center;
  font-size: 32px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 20px 0;
  color: #502549;
}

.forms {
  height: 40vh;
  margin: 80px auto;
  box-sizing: border-box;
  padding: 32px 25px;
}

.inputs {
  margin: 0 auto 0 auto;
  width: 90%;
  text-align: center;
}
.bread_field, .size_field, .quantity_field {
  width: 90%;
  text-align: center;
}
.bread_field input,
.size_field input,
.quantity_field input {
  width: 90%;
  height: 32px;
  text-align: center;
  margin: 12px 0;
}

.bread_field input[type = "text"],
.size_field input[type = "text"],
.quantity_field input[type = "number"] {
  background: transparent; 
  border-width: 0;
  border-bottom: 5px #c2c2f5 solid;
  color: #000;
  font-size: 18px;
}

.bread_field input::placeholder,
.size_field input::placeholder,
.quantity_field input::placeholder {
  color: #000;
  font-size: 18px;
}

.submitBtn {
  text-align: center;
  margin: 25px auto 0 auto;
}

.submitBtn input {
  padding: 7px 18px;
  background: transparent;
  border-width: 0;
  transition: 0.2s ease-in;
}
.submitBtn input:hover {
  border: 2px #fff solid;
  background: #502549;
  color: #fff;
}

#show-price {
  background: #101124;
  width: 95%;
  margin: 10px auto;
  text-align: center;  
  padding: 32px 10px;
}

#show-price li {
  padding: 12px;
  color: #fff;
  display: block;
}

@media screen and (min-width: 765px) {
  #show-price {
    width: 80%;
    text-align: center;
  }
}





